body {
  background: rgb(167, 172, 132);
}

.container {
  margin: 90px auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 15px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
}
.prompt {
  padding: 16px;
  font-size: 20px;
  width: 80%;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 45px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background-color: rgb(133, 177, 122);
  color: white;
  border: none;
  border-radius: 45px;
  padding: 14px 22px;
  font-size: 16px;
  width: 150px;
}
.poem {
  background-color: white;
  padding: 20px;
  font-size: 16px;
  line-height: 2;
  border-left: 3px solid rgb(133, 177, 122);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  border-top: 1px solid rgb(224, 237, 245);
  padding: 30px 0 0 0;
}
